{% extends "base.html" %}
{% block title%} Login {% endblock %} </title> <!-- what appears in the tab/ as tab title -->

{% block content %}
<form method="POST">
    <h3 align ="center"> Login</h3>
    <div clas="form-group">
        <label for="email">Email Address</label>
        <input type="email" class = "form-control" name="email" id="email" placeholder="Enter email">
    </div>
    <div clas="form-group">
        <label for="password">password</label>
        <input type="password" class = "form-control" name="password" id="password" placeholder="Enter password">
    </div>
    <br /> <!-- breakline -->
    <button type="submit" class="btn btn-primary"> Login </button>
</form>
{% endblock %}